html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

header {
	background-color: black;
	color: white;
	padding: 0.5em;
	clear: both;
}

figure {
	background-color: gray;
	text-align: center;
}

.container {
	display: flex;
	flex-flow: row wrap;
}

section {
	text-align: left;
	padding: 1em;
	flex: 1 100%;
}

aside {
	background-color: teal;
	color: white;
	float: right;
	margin: 0px;
	padding: 2rem;
	flex: 1 100%;
}

footer {
	background-color: black;
	color: white;
}

@media all and (min-width: 500px) {
	.container {
		margin: 0px;
		padding: 0px;
		justify-content: space-between;
	}
	section {
		flex: 5 0px;
		order: 1;
	}
	aside {
		justify-content: right;
		flex: 1 auto;
		order: 2;
		max-width: 200px;
	}
}